/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary:#49a6e9;
  --clr-secondary2:crimson;
  /*hsla(182, 63%, 54%);*/ 
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-white);
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(rgb(0,0,0));
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-black);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-black);
  box-shadow: var(--dark-shadow);
  z-index: +2;
}

.fixed-nav .links a {
  color: var(--clr-white);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-black);
  color: var(--clr-white);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient( rgba(63, 208, 212, 0.5),rgba(0, 0, 0, 0.7)),
    
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;

}

.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
.title2 h2 {
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.title2 span {
  color: var(--clr-secondary2);
}

#about,
#experience,
#projects
#why {
  height: auto;
}
#experience, #certificates{
  background: var(--clr-white);
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.Borderrad {
  border-radius: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Annie Use Your Telescope");


.intro{
  font-family : 'Annie Use Your Telescope';
  font-size: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}


/*Card Flip*/
.flip-card {
  margin-left: 45px;
  border-radius: 20%;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  box-shadow: var(--dark-shadow);
  z-index: 1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  box-shadow: var(--dark-shadow);
  border-radius: 10%;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  border-radius: 10%;
  box-shadow: var(--dark-shadow);
  background-color: #1a1818;
  color: black;
}
.flip-card-back {
  border-radius: 10%;
  box-shadow: var(--dark-shadow);
  background-color: var(--clr-grey-1);
  color: rgb(255, 248, 248);
  transform: rotateY(180deg);
}
.flip-card h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-shadow: #1a1818;
  margin-top: 2rem;
  color: var(--clr-white);
}




/*adding Video */

/*compact Header */

/*header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}
*/


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}


/*adding Preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

/*adding tabs*/
.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.about-img {
  margin-bottom: 2rem;
  margin-top: 10%;
}
.about-img video {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}
.about-content span{
  font-weight: 900;
}

/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}


/* adding Numbers */

.numart {
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  border-bottom: 4px solid transparent;
}

.numart span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.numart p {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.numart:nth-of-type(1) {
  border-bottom-color: #e93636;
}
.numart:nth-of-type(2) {
  border-bottom-color: #2146c0;
}

.spacefornumber{
  margin-top: 5rem;
}
.proud h2{
  font-size: 1.5rem;
  text-align: center;
}

.about-content h4{
  font-size: 20px;
}

.btnclick{
  box-shadow: var(--clr-black);

}

/*questions about me */
.section{
  align-items: center;
  padding-bottom: 10px;
}
.title1 h2{
  margin: 50px 50px;
  font-size: 30px;
  justify-content: center;
  text-align: center;

}
.title {
  margin-top: 15px;
  margin-bottom: 4rem;
 
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
  
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}


/*certificates */

.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  margin-top: 50px;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 20%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
  position: relative;
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 20%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
#info {
  max-width: 50rem;
  width: 50rem;
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

.container2{
  width: 35%;
  margin: auto;
  align-items: center;
}
.container2 h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container2 p {
  color: var(--clr-black);
  max-width: auto;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.container2:hover {
  box-shadow: var(--clr-secondary);
}










/*projects*/
/*phto gallery*/

.sectiongal {
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
  box-shadow: var(--clr-black);
}
@media screen and (min-width: 768px) {
  .sectiongal {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .sectiongal {
    grid-template-columns: 1fr 1fr 1fr;
    width: 95vw;
  }
  .prev-btn2 {
    left: -4.5rem;
  }
  .next-btn2 {
    right: -4.5rem;
  }
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--clr-black);
  height: 15rem;
}
.img:hover {
  box-shadow: var(clr --clr-white);
}

/**/
.modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  transition: var(--transition);
  opacity: 0;
  min-height: 100vh;
  overflow: scroll;
}
.modal.open {
  opacity: 1;
  z-index: 999;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.next-btn2,
.prev-btn2 {
  position: absolute;
  top: 10rem;
  transform: translateY(-50%);
  background: transparent;
  font-size: 2rem;
  color: var(--clr-white);
  border-color: transparent;
  cursor: pointer;
}
.prev-btn2 {
  left: -2.5rem;
}
.next-btn2 {
  right: -2.5rem;
}
@media screen and (min-width: 768px) {
  .prev-btn2 {
    left: -4rem;
  }
  .next-btn2 {
    right: -4rem;
  }
}

.modal-content {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}
.main-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.image-name {
  text-align: center;
  margin: 1rem 0 3rem;
  color: var(--clr-white);
}
.modal-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.modal-img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  opacity: 0.5;
  transition: var(--transition);
  cursor: pointer;
}
.modal-img:hover {
  opacity: 1;
}
.modal-img.selected {
  opacity: 1;
}

.linktext{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: var(--clr-white);
}
.linktext:hover {
  text-shadow: #817f7f;
  color: rgb(21, 115, 238);
}
.about2{
  color: var(--clr-white);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: large;
}



/*submenu*/
/*
.submenuwrap{
  position: absolute;
  top: 100%;
  left: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.submenuwrap.openMenu{
  max-height:fit-content;
}
.submenu{
  background-color: var(--clr-white);
  padding: 30px;
  margin: 10px;
}

.submenu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.userinfo{
  display: flex;
  align-items: center;
}

.userinfo h3{
  font-weight: 500;
}
.submenuwrap h3{
  color: var(--clr-black);
}

.logo:hover {
  box-shadow: var(--clr-black);
  background-color: var(--clr-grey-6);
}

.subMenuLink{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;;
  margin: 12px 0;
}

.subMenuLink img{
width: 40px;;
background-color: #e5e5e5;
border-radius: 50%;
padding: 8px;
margin-right: 15px;
}
.subMenuLink span{
  font-size: 22px;
  transition: transform 0.5s ;
}
.subMenuLink:hover span{
  transform: translate(5px);
}

.subMenuLink p{
  width: 100%;
}
.subMenuLink:hover p{
  font-weight: 600;

}
*/
.skills{
  max-height: fit-content;
  height: auto;
  margin-bottom: 20px;
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills-content .right .html::before{
  width: 90%;
}
.skills-content .right .css::before{
  width: 60%;
}
.skills-content .right .js::before{
  width: 80%;
}
.skills-content .right .php::before{
  width: 50%;
}
.skills-content .right .mysql::before{
  width: 70%;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
